<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
</head>
<body>

	<h1>Página inicial</h1>
	<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias quo maxime delectus, mollitia quis soluta omnis consequatur nisi beatae nobis temporibus distinctio esse neque, quasi architecto molestiae, cum blanditiis quibusdam.</p>
	
</body>
</html>